version: "3.7"
services:
  postgres:
    image: postgres:14.2-alpine
    container_name: homeAssistantPostgresql
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER-homeAssistantCore}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:?Missing environment variable see readme}
      POSTGRES_DB: ${POSTGRES_DB-homeAssistantCore}
    volumes:
      - postgresqlData:/var/lib/postgresql/data
    networks:
      - homeassistant

  eclipse-mosquitto:
    build:
      context: mosquitto
      args:
        MQTT_PASSWORD: ${MQTT_PASSWORD:?Missing environment variable see readme}
    ports:
      - 1883:1883
    container_name: homeAssistantEclipseMosquitto
    restart: unless-stopped
    volumes:
      - eclipseMosquittoData:/mosquitto/data
      - ./mosquitto/config/:/mosquitto/config/:ro # readonly because mosquitto likes to play with permissions
    networks:
      - homeassistant

  zigbee2mqtt:
    build:
      context: zigbee2mqt
    container_name: homeAssistantZigbee2mqtt
    restart: unless-stopped
    volumes:
      - zigbee2mqttData:/app/data
      - /run/udev:/run/udev:ro
    ports:
      - 8124:8080
    environment:
      TZ: Europe/Berlin
      ZIGBEE2MQTT_CONFIG_ADVANCED_NETWORK_KEY: ${ZIGBEE_KEY:?Missing environment variable see readme}
      ZIGBEE2MQTT_CONFIG_MQTT_PASSWORD: ${MQTT_PASSWORD:?Missing environment variable see readme}
      ZIGBEE2MQTT_CONFIG_FRONTEND_AUTH_TOKEN: ${ZIGBEE2MQTT_AUTH_TOKEN:?Missing environment variable see readme}
    devices:
      - ${ZIGBEE_USB_DEVICE-/dev/ttyACM0}:/dev/ttyACM0
    depends_on:
      - eclipse-mosquitto
    networks:
      - homeassistant

  home-assistant:
    build:
      context: homeAssistantCore
    container_name: homeAssistantCore
    restart: unless-stopped
    volumes:
      - homeAssistantData:/config
      - ./homeAssistantCore/configuration.yaml:/config/configuration.yaml
      - ./homeAssistantCore/ui-lovelace.yaml:/config/ui-lovelace.yaml
      - ./homeAssistantCore/custom-config/:/config/custom-config/
    environment:
      TZ: Europe/Berlin
      DB_CONNECTION: postgresql://${POSTGRES_USER-homeAssistantCore}:${POSTGRES_PASSWORD:?Missing environment variable see readme}@postgres:5432/${POSTGRES_DB-homeAssistantCore}
      LATITUDE: ${LATITUDE:?Missing environment variable see readme}
      LONGITUDE: ${LONGITUDE:?Missing environment variable see readme}
      HPM_GITHUB_TOKEN: ${GITHUB_TOKEN:?Missing environment variable see readme}
    ports:
      - 8123:8123
    networks:
      homeassistant:
      dockervlan:
        ipv4_address: ${HOME_ASSISTANT_IP:?Missing environment variable see readme}
    depends_on:
      - eclipse-mosquitto
      - zigbee2mqtt
      - postgres

  mdns-reflector:
    image: flungo/avahi:v0.6.32
    container_name: homeAssistantMDNSReflector
    environment:
      REFLECTOR_ENABLE_REFLECTOR: 'true'
    restart: unless-stopped
    networks:
      homeassistant:
      dockervlan:
        ipv4_address: ${MDNS_REFLECTOR_IP:?Missing environment variable see readme}

  # digital-alchemy:
  #   build:
  #     context: digitalAlchemy
  #   container_name: digitalAlchemy
  #   restart: unless-stopped
  #   volumes:
  #     - ./digitalAlchemy/src/:/app/src/
  #   environment:
  #     HASS_BASE_URL: http://home-assistant:8123
  #     HASS_TOKEN: ${HASS_TOKEN:?Missing environment variable see readme}
  #   depends_on:
  #     - home-assistant
  #   networks:
  #     - homeassistant

volumes:
  postgresqlData:
    driver: local
  eclipseMosquittoData:
    driver: local
  zigbee2mqttData:
    driver: local
  homeAssistantData:
    driver: local

networks:
  homeassistant:
    name: homeassistant
  dockervlan:
    name: dockervlan
    driver: macvlan
    driver_opts:
      parent: ${LAN_NETWORK_DEVICE:?Missing environment variable see readme}
    ipam:
      config:
        - subnet: ${SUBNET:?Missing environment variable see readme}